@use "globals";

main {
    padding: 5rem;
    section {
        &:first-of-type {
            display: flex;
            
            > div {
                width: 50%;
                h1 {
                    color: globals.$darkBlue;
                    font-size: 48px;
                }

                p {
                    color: globals.$darkGrayishBlue;
                }

                figure {
                    margin: 0;
                    img {
                        height: auto;
                        width: 100%;
                    }
                }

                button {
                    background-color: globals.$brightRed;
                    border: none;
                    font-family: inherit;
                    color: globals.$veryPaleRed;
                    display: inline-block;
                    height: fit-content;
                    border-radius: 25px;
                    padding: 0.75rem 2rem;
                    box-shadow: 0px 2px 10px globals.$brightRed;
                    font-weight: 500;
                }
            }
        }
    }
}