@use "globals";

main {
    padding: 5rem 8rem;

    section {
       
        &:first-of-type {
            display: flex;
            
            > div {
                width: 50%;
                h1 {
                    color: globals.$darkBlue;
                    font-size: 48px;
                }

                p {
                    color: globals.$darkGrayishBlue;
                }

                figure {
                    margin: 0;
                    img {
                        height: auto;
                        width: 100%;
                    }
                }

                button {
                    background-color: globals.$brightRed;
                    border: none;
                    font-family: inherit;
                    color: globals.$veryPaleRed;
                    display: inline-block;
                    height: fit-content;
                    border-radius: 25px;
                    padding: 0.75rem 2rem;
                    box-shadow: 0px 2px 10px globals.$brightRed;
                    font-weight: 500;
                }
            }
        }

        &:nth-of-type(2) {
            display: flex;
            justify-content: space-between;

            > article {
                flex-basis: 50%;
                color: globals.$darkGrayishBlue;
                line-height: 2rem;
                width: 65%;

                h2 {
                    color: globals.$darkBlue;
                    font-size: 32px;
                    line-height: 2.5rem;
                    margin-top: 13px;
                    width: 80%;
                }

                p {
                    display: inline-block;
                    width: 80%;
                }

            }
            
            > section {
                display: flex;
                flex-direction: column;
                flex-basis: 50%;

                > article {
                    color: globals.$darkGrayishBlue;
                    line-height: 2rem;
                    position: relative;
                    padding-left: 5rem;

                    span {
                        position: absolute;
                        top: 0;
                        left: 0;
                        background-color: globals.$brightRed;
                        color: globals.$veryLightGray;
                        padding: 0 1.25rem;
                        border-radius: 15px;
                        font-weight: 500;
                        font-size: 14px;
                    }

                    h3 {
                        color: globals.$darkBlue;
                        margin-top: 0;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

section.slider-section {
    display: flex;
    flex-direction: column;

    h2 {
        text-align: center;
        color: globals.$darkBlue;
        margin: 3rem;
    }

    div.slider {
        display: flex;
        width: 120%;

        > div {
            background-color: globals.$veryLightGray;
            color: globals.$darkGrayishBlue;
            width: 40%;
            margin: 0 1rem;
            line-height: 1.65rem;
            text-align: center;

            h4 {
                color: globals.$darkBlue;
                text-align: center;
                margin: 2rem 0;
            }
        }
    }

    button {
        width: fit-content;
        align-self: center;
        background-color: globals.$brightRed;
        color: globals.$veryLightGray;
        font-family: globals.$fontFamily;
        border: none;
        padding: 1rem 2rem;
        border-radius: 25px;
        margin: 3rem 0 5rem 0;
    }
}

aside {
    &.promo-banner {
        background-color: globals.$brightRed;
        color: globals.$veryLightGray;
        padding: 3rem 5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        &::before {
            content: "";
            display: inline-block;
            width: 50%;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
            background-image: url('../images/bg-tablet-pattern.svg');
            background-repeat: no-repeat;
            background-position: top;
            background-size: 85%;
            filter: opacity(10%);
        }

        &::after {
            content: "";
            display: inline-block;
            width: 20%;
            height: 50%;
            position: absolute;
            top: 0px;
            right: 0px;
            background-image: url('../images/bg-tablet-pattern.svg');
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: 85%;
            filter: opacity(10%);
        }

        h2 {
            font-size: 38px;
            flex-basis: 40%;
           
        }

        button {
            font-family: globals.$fontFamily;
            color: globals.$brightRed;
            background-color: globals.$veryLightGray;
            border: none;
            border-radius: 25px;
            padding: 0.8rem 2rem;
            font-weight: 500;
            font-size: 13px;
        }
    }
}